<ng-container *ngIf="!isUserOcassion; else isOcassion">
  <pre>
✨✨it's been {{ dateDiff(userOcassionDate?.date) }} of {{
      userOcassionDate?.userName
    }} {{ userOcassionDate?.ocassion }} till date✨✨
</pre
  >
  <pre>
✨✨ Countdown to {{ userOcassionDate?.userName }} {{
      userOcassionDate?.ocassion
    }} ✨✨
</pre
  >
  <div class="wrapper">
    <div class="description">
      <p>Days</p>
      <p>Hours</p>
      <p>Minutes</p>
      <p>Seconds</p>
    </div>
    <div class="times">
      <p id="days" #days></p>
      <p id="hours" #hours></p>
      <p id="mins" #mins></p>
      <p id="seconds" #seconds></p>
    </div>
  </div>
</ng-container>
<ng-template #isOcassion>
  <marquee>
    <span>
      ✨✨it's been
      {{ dateDiff(userOcassionDate?.date) }} of
      {{ userOcassionDate?.userName }} {{ userOcassionDate?.ocassion }} till
      date✨✨</span
    >
  </marquee>
  <pre>
Wohoo it's {{ userOcassionDate?.userName }} {{
      userOcassionDate?.ocassion
    }} today 👀✨</pre
  >
  <pre>
✨✨ The wait is over take time & wish {{
      userOcassionDate?.userName
    }} a happy {{ userOcassionDate?.ocassion }} ✨✨</pre
  >
  <pre>✨✨ May God Bless Him ✨✨</pre>
</ng-template>
