/*General Styles*/

*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-size: 16px;
	font-family: "Raleway", sans-serif;
}
html {
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	color: #555;
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	opacity: 1;
}

a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
    background-color: #ffffff;
    color: #000000;
	opacity: 1;
	transition: all 400ms;
}

a.btn:hover {
	background-color: #000000;
    color: #ffffff;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
	background-color: #f5f5f5;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: #e07e7b;
	border: 0;
	margin-bottom: 50px;
}



section h3.title {
	text-transform: capitalize;
	font: bold 48px "Amatic SC", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}

/*Header Styles*/

header {
	position: absolute;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: #fff;
	z-index: 2;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

header h2 {
	font-family: "Amatic SC", sans-serif;
}

header nav {
	display: flex;
	margin-left: 700px;
}

header nav li {
	margin: 0 15px;
}

@media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
	}

	header h2 {
		margin-bottom: 15px;
	}
}

/*Hero Styles*/

.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("https://wallpaperaccess.com/full/1635655.jpg");
	background-size: cover;
	z-index: -1;
	background-color: #80a3db;
}

.hero h1 {
	font: 72px "Amatic SC", sans-serif;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 15px;
}

.hero h3 {
	font: 28px "Raleway", sans-serif;
	font-weight: 300;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 40px;
}

.hero a.btn {
	padding: 20px 46px;
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}
}



.page {
    padding: 40px;
     
  }

  
  #splash {
    background: #cc1f2f;
    background-repeat: repeat-y;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: splash 3s ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  
  #loader {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
  }
  
  #loader:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -8px;
    bottom: -170px;
    width: 3px;
    background: #fff;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    height: 200px;
  }
  
  #loader:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: 8px;
    bottom: -190px;
    width: 3px;
    background: #000;
    background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 50%, rgba(0,0,0,0) 100%);
    height: 200px;
  }
  
  #splash .anim {
    height: 100%;
    position: absolute;
    left: 50%;
    width: 100px;
    transform: translate(-50%,100%);
    animation: loader 4s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  
  @keyframes loader {
    0% {
      transform: translate(-50%,110%);
    }
    30% {
      transform: translate(-50%,50%);
    }
    100% {
      transform: translate(-50%,0%);
    }
  }
  
  @keyframes splash {
    0% {
      transform: translate(0%,0%);
    }
    50% {
      transform: translate(0%,0%);
    }
    100% {
      transform: translate(0%,-100%);
    }
  }
  